<%= link_to 'Add new Carousel', new_admin_carousel_carousel_path, :class => 'big button' %>

<h1>Carousels</h1>

<ul class='list'>
  <% @carousels.each do |carousel| %>
    <li>
      <div class='item'>
        <div class='action_links'>
          <%= link_to 'Edit', edit_admin_carousel_carousel_path(carousel) %>
          <%= link_to 'Delete', admin_carousel_carousel_path(carousel), :method => :delete, :confirm => 'Are you sure?' %>
        </div>
        <div class='label'>
          <%= link_to carousel.label, admin_carousel_carousel_slides_path(carousel) %>
        </div>
      </div>
    </li>
  <% end %>
</ul>